.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}
.portfolio {
  padding-top: calc(6rem + 22px);
  padding-bottom: 1rem;
}